 .eyebrow {
     display: inline-block;
     padding: 8px 14px;
     margin: 10px 15px;

 }

 .highlight {
     color: #D4AF37;
 }

 .btn-active {
     margin: 30px 60px;
 }

 .btn-size {
     font-size: 70px;

 }

 .container {
     height: 550px;
     width: 700px;
     background-color: #3E2723;
     margin: 30px 60px;
     border-radius: 10px;
     border: 3px solid #D4AF37;
    
 }

 .intro {
     color: #FFF8E7;
     margin: 10px 15px;
 }

 .population-card {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding: 5px;
  }

 .population-text {
     background-color:#FFF8E7; 
     color: #D4AF37;
     height: 100px;
     width: 200px;
     border-radius: 10px;
     margin: 20px;
     font-size: 30px;
 }
 .small-container{
    background-color: #FFF8E7;
    height: 200px;
    width: 200px;
    border: 0.5px solid #D4AF37;
    box-shadow: 0px 0px 15px 1px  #D4AF37;
  margin: 30px 60px;
    border-radius: 5px;
 }
.a{
    display: flex;
}